@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@700&display=swap');
@font-face {
    font-family: 'Inter-bold';
    src: url(../fonts/Inter-Bold.otf);
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    background-color: #BB945F;
}

h2{
    color: #0C0C0E;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; 
    display: flex;
    justify-content: center;
}

h2::after{
    position:absolute;
    bottom: 0px;
    content:"";
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}


header {
    width: 1440px;
    display: flex;
    flex-wrap: nowrap;
    background: #0C0C0E;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

footer{
    width: 1400px;
    height: 230px;
    background: #0C0C0E;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 0 20px;
}

.page-title{
    color: #FFF;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    align-self: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-navigation{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    line-height: 50px;
    gap: 30px;
    position: absolute;
    left: 768px;
    top: 20px;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}

.navigation-botton {
    display: inline-block;
}

.navigation-text{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.icon-profile{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    position: absolute;
    left: 1392px;
    top: 31px;
    bottom: 31px;
}

.welcome{
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%) 0 0 no-repeat, url(../images/welcome.jfif) 50% no-repeat;
    background-size: 1440px;
}

.welcome-text{
    color: #FFF;
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #0C0C0E;
    position: relative;
    top: 220px;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    margin: 0;
}

.about{
    width: 1440px;
    height: 837px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.about-content{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 1440px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-gallery{
    width: 1400px;
    height: 560px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.gallery-element{
    width: 450px;
    height: 560px;
    flex-shrink: 0;
}

.gallery-element:nth-child(1){
    background: url(../images/gallery-1.png), lightgray 50% / cover no-repeat;
}

.gallery-element:nth-child(2){
    background: url(../images/gallery-2.png), lightgray 50% / cover no-repeat;
}

.gallery-element:nth-child(3){
    background: url(../images/gallery-3.png), lightgray 50% / cover no-repeat;
}

.slider-novigation{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    width: 78px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

.dot-active{
    width: 16px;
    height: 16px;
    background-color: #BB945F;
    border-radius: 50%;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color:  #0C0C0E;
    border-radius: 50%;
}

.favorites{
    width: 1440px;
    height: 1439px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.favorites-text{
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    padding-top: 40px;
}

.favorites-items{
    width: 1400px;
    height: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
}

.book-navigation{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-left: 20px;
}

.book{
    width: 550px;
    height: 540px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.book + .book {
    margin-left: 260px;
}

.book-caption{
    color: #000;
    font-family: 'Forum';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 120px;
    height: 40px;
}

.book-line{
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-left: 20px;
}

.book-general-information{
    margin: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.book-title{
    color: #000;
    font-family: 'Inter-bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0%, 0%;
}

.book-author{
    color: #000;
    font-family: 'Inter-bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0%;
}

* {
    margin: 0;
    padding: 0;
}


.book-contents{
    color: #000;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    width: 355px;
    margin-left: 20px;
}

.book-button{
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: white;
    margin-left: 20px; 
    margin-top: auto;
}

.book-cover{
    position: absolute;
    margin-left: 390px;
    margin-top: 256px;
    background: lightgray 50% / cover no-repeat;
}

.coffee-shop{
    width: 1400px;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
}

.coffee-shop-text{
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 40px;
}

.coffee-menu{
    width: 1400px;
    height: 520px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.menu-coffee-tea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    align-content: stretch;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-desserts{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    gap: 60px;
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-position-named{
    margin-right: auto;
    align-self: stretch;
}

.menu-position-value{
    color: #000;
    font-family: 'Forum';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    align-self: flex-end;
}

.menu-dash{
    width: 100px;
    height: 1px;
    background: #BB945F;
    flex: 0 1 auto;
    align-self: center;
}

.our-contacts{
    display: flex;
    width: 1400px;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
}

.contact-info{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.text-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #000;
    text-align: left;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.text-info-block{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
}

.map-info{
    width: 696px;
    height: 414px;
    background: url(../images/map.png), lightgray 50% / cover no-repeat;
}


.digital-library-cards{
    width: 1400px;
    height: 614px;
    flex-direction: column;
    align-items: center; 
    gap: 40px;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0 20px 0 20px;
}

.library-card{
    display: flex;
    justify-content: space-between;
    width: 1400px;
}

.find-card{

}

.get-a-card{

}