* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    background-color: #BB945F;
    font-size: 10px;
}

h1{
    color: #FFF;
    @include font ('Forum', 3rem, 400, 5rem, 0.06rem);
    align-self: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: inline-block;
}

h2{
    color: #0C0C0E;
    @include font ('Forum', 40px, 400, 40px, 2px);
    font-family: 'Forum';
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; 
    display: flex;
    justify-content: center;
}

h2::after{
    position:absolute;
    bottom: 0px;
    content:"";
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}

button{
    cursor: pointer;
}

button:hover {
    background-color: $color-additional;
}

.display-none {
    display: none;
}
