@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@700&display=swap");
@font-face {
  font-family: "Inter-bold";
  src: url(../fonts/Inter-Bold.otf);
}
.get-a-card-buttons *, .card-loged-in, .card-button, .book-button, .favorites, .gallery-line {
  transition: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  background-color: #BB945F;
  font-size: 10px;
}

h1 {
  color: #FFF;
  font-family: "Forum";
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.06rem;
  font-style: normal;
  align-self: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  display: inline-block;
}

h2 {
  color: #0C0C0E;
  font-family: "Forum";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  font-family: "Forum";
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

h2::after {
  position: absolute;
  bottom: 0px;
  content: "";
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(187, 148, 95);
}

.display-none {
  display: none;
}

input radio {
  cursor: pointer;
}

.humberger::after, .humberger::before, .humberger-line {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 3px;
}

.humberger {
  display: none;
  width: 45px;
  height: 30px;
  position: relative;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .humberger {
    display: inline-block;
  }
}
@media (max-width: 1024px) {
  .humberger {
    display: inline-block;
  }
}
.humberger-line {
  top: calc(50% - 1.5px);
  left: 0;
}
.humberger::before {
  top: 0;
  left: 0;
}
.humberger::after {
  bottom: 0;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(142, 142, 142, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-closed {
  display: none;
}

.modal {
  min-width: 250px;
  max-width: 600px;
  position: relative;
  min-height: 120px;
  max-height: 100%;
  background: rgb(255, 255, 255);
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.exit:hover {
  opacity: 0.5;
  color: rgb(187, 148, 95);
}

.regisration-title {
  color: rgb(0, 0, 0);
  font-family: "Forum";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2%;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0px;
}

.input-regisration {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 25px 10px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2%;
  font-style: normal;
}
.input-regisration input {
  box-sizing: border-box;
  border: 1px solid rgb(187, 148, 95);
  height: 25px;
  padding-left: 10px;
}
.input-regisration input:focus {
  border: 1px solid rgb(0, 0, 0);
  outline: 0;
}

.log, .singup {
  box-sizing: border-box;
  border: 1px solid rgb(12, 12, 14);
  border-radius: 2px;
  background-color: white;
  width: 75px;
  height: 30px;
  margin: 10px 0px 10px 25px;
}

.regisration-footer {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  font-style: normal;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 0 20px 25px;
}

.change-registration, .change-login {
  display: inline-block;
  text-decoration-line: underline;
  font-weight: bold;
  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

header {
  display: flex;
  flex-wrap: nowrap;
  background: #0C0C0E;
  padding: 20px;
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: flex-start;
  line-height: 50px;
  gap: 30px;
  list-style-type: none;
}
@media (max-width: 768px) {
  .page-navigation {
    display: none;
  }
}
@media (max-width: 1024px) {
  .page-navigation {
    display: none;
  }
}

.navigation-botton {
  display: inline-block;
}

.navigation-text {
  color: #FFF;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.icon-profile {
  margin: 0px 0px 0px 40px;
}

.icon-profile-loged-in {
  margin-left: 40px;
}

footer {
  background: rgb(12, 12, 14);
  padding: 20px 20px 0 20px;
}

.border-footer {
  border: 1px solid rgb(255, 255, 255);
}

.footer-text {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 30px 20px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 266px;
  gap: 10px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 40px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 40px 20px;
}

.footer-text-bottom {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.welcome {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%) 0 0 no-repeat, url(../images/welcome.jfif) 50% no-repeat;
  background-size: 1440px;
}

.welcome-text {
  display: inline-block;
  color: #FFF;
  font-family: "Forum";
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: #0C0C0E;
  padding: 35px 40px 35px 120px;
  max-width: 500px;
  position: relative;
  top: 220px;
}

.about {
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .about-content {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 1024px) {
  .about-content {
    padding: 0px 20px 0px 20px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
  overflow: hidden;
}

.gallery-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
}

.slider-novigation {
  padding: 40px 686px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .slider-novigation {
    padding: 40px 0px;
    width: 100px;
  }
}
@media (max-width: 1024px) {
  .slider-novigation {
    padding: 40px 0px;
    width: 100px;
  }
}

.favorites {
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.favorites-text {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  font-style: normal;
  color: #000;
  line-height: normal;
  padding-left: 20px;
  padding-top: 40px;
}

.favorites-items {
  padding-left: 100px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-top: 42px;
}
@media (max-width: 768px) {
  .favorites-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1024px) {
  .favorites-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.book-navigation {
  color: #000;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  font-style: normal;
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  height: 20px;
  margin-bottom: 40px;
}
.book-navigation * {
  margin-right: 20px;
}

.book {
  box-sizing: border-box;
  max-width: 55rem;
  max-height: 55rem;
  padding-bottom: 15px;
  margin-bottom: 40px;
  border: 1px solid #000;
  display: flex;
  position: relative;
  flex-direction: column;
}

.book-caption {
  color: #000;
  font-family: "Forum";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: capitalize;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
  width: 120px;
  height: 40px;
}

.book-line {
  width: 60px;
  height: 1px;
  background: rgb(187, 148, 95);
  margin-left: 20px;
}

.book-general-information {
  margin: 20px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.book-title {
  color: #000;
  font-family: "Inter-bold";
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0%, 0%;
}

.book-author {
  color: #000;
  font-family: "Inter-bold";
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0%;
}

.book-contents {
  color: #000;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  width: 355px;
  height: 321px;
  margin-left: 20px;
}

.book-button {
  color: #0C0C0E;
  text-align: center;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
  font-style: normal;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: white;
  margin-left: 20px;
  margin-top: auto;
}

.book-cover {
  display: inline-block;
  position: absolute;
  left: 390px;
  bottom: calc(0% - 1px);
  background: lightgray 50%/cover no-repeat;
}

.coffee-shop {
  padding: 60px 20px 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
}

.coffee-shop-text {
  color: #000;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-align: center;
  margin-top: 40px;
}

.coffee-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .coffee-menu {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .coffee-menu {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

.menu-coffee-tea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: flex-end;
  align-content: stretch;
  color: rgb(12, 12, 14);
  font-family: "Forum";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: capitalize;
  padding-right: 201px;
}

.menu-desserts {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: flex-end;
  color: rgb(12, 12, 14);
  font-family: "Forum";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: capitalize;
}

.menu-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  gap: 60px;
  color: #000;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: capitalize;
}

.menu-position-named {
  margin-right: auto;
  align-self: stretch;
}

.menu-position-value {
  color: #000;
  font-family: "Forum";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-transform: capitalize;
  align-self: flex-end;
}

.menu-dash {
  width: 100px;
  height: 1px;
  background: rgb(187, 148, 95);
  flex: 0 1 auto;
  align-self: center;
}

.our-contacts {
  display: flex;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
}

.contact-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .contact-info {
    flex-direction: column;
  }
}

.text-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #000;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-style: normal;
  text-align: left;
  text-transform: capitalize;
}

.text-info-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .text-info-block:last-child {
    padding-bottom: 100px;
  }
}
@media (max-width: 1024px) {
  .text-info-block:last-child {
    padding-bottom: 100px;
  }
}

.map-info {
  width: 696px;
  height: 414px;
  background: url(../images/map.png), lightgray 50%/cover no-repeat;
}
@media (max-width: 768px) {
  .map-info {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .map-info {
    width: 100%;
  }
}

.digital-library-cards {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  display: flex;
}
@media (max-width: 768px) {
  .digital-library-cards {
    padding: 0px 85px 40px;
  }
}
@media (max-width: 1024px) {
  .digital-library-cards {
    padding: 0px 85px 40px;
  }
}

.digital-library-cards-loged-in {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  display: none;
}
@media (max-width: 768px) {
  .digital-library-cards-loged-in {
    padding: 0px 85px 40px;
  }
}
@media (max-width: 1024px) {
  .digital-library-cards-loged-in {
    padding: 0px 85px 40px;
  }
}

.library-card {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 344px;
}
@media (max-width: 768px) {
  .library-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .library-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.find-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.find-card-text {
  font-family: "Inter";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 2%;
  font-style: normal;
  font-family: "Inter";
  text-align: left;
  align-self: center;
}

.white-bg {
  box-sizing: border-box;
  border: 3px solid rgb(187, 148, 95);
  background: rgb(255, 255, 255);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  margin-top: 60px;
}

.gold-bg {
  background: rgb(187, 148, 95);
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 25px 20px;
  gap: 25px;
  width: 515px;
  height: 232px;
  display: flex;
  flex-direction: column;
}

.brooklyn-public-library-text {
  font-family: "Forum";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  font-style: normal;
  text-align: left;
}

.input-library-card {
  font-family: "Forum";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  font-style: normal;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  color: rgb(142, 142, 142);
  text-align: left;
  padding-left: 20px;
  outline: none;
  border: none;
}

.input-library-card-loged-in {
  font-family: "Forum";
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  font-style: normal;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  color: rgb(12, 12, 14);
  text-align: left;
  padding-left: 20px;
  outline: none;
  border: none;
}

.card-button {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  font-style: normal;
  box-sizing: border-box;
  border: 1px solid rgb(12, 12, 14);
  border-radius: 2px;
  width: 262px;
  height: 44px;
  background-color: #FFF;
  padding: 10px 40px 10px 40px;
  text-align: center;
}

.card-loged-in {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2%;
  font-style: normal;
  text-align: center;
  text-transform: capitalize;
  box-sizing: border-box;
  border-radius: 2px;
  width: 262px;
  height: 44px;
  padding: 0px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
}

.get-a-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 60px;
}
.get-a-card-text {
  font-family: "Forum";
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 2%;
  font-style: normal;
  text-align: center;
}
@media (max-width: 1024px) {
  .get-a-card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .get-a-card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.card-text {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2%;
  font-style: normal;
  text-align: right;
  width: 456px;
}
@media (max-width: 1024px) {
  .card-text {
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2%;
    font-style: normal;
  }
}
@media (max-width: 768px) {
  .card-text {
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2%;
    font-style: normal;
  }
}

.get-a-card-buttons {
  display: flex;
  gap: 20px;
}
.get-a-card-buttons * {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  font-style: normal;
  border: 1px solid rgb(12, 12, 14);
  border-radius: 2px;
  background-color: #FFF;
  width: 75px;
  height: 30px;
}

.profile-block {
  width: 600px;
  height: 400px;
  position: relative;
  background: rgb(255, 255, 255);
}

.profile-block-left {
  position: absolute;
  width: 170px;
  height: 400px;
  left: 0;
  right: 430px;
  top: 0;
  bottom: -3px;
  background-color: rgb(12, 12, 14);
  overflow: hidden;
}

.profile-block-right {
  position: absolute;
  width: 430px;
  height: 400px;
  left: 170px;
  right: 0;
  top: 0;
  bottom: -3px;
  background-color: white;
}

.exit-profile {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.profile-photo {
  background-color: white;
  width: 80px;
  height: 80px;
  margin: 139px 45px 15px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo-text {
  color: rgb(187, 148, 95);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  font-style: normal;
}

.profile-name {
  background-color: white;
  color: rgb(12, 12, 14);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  font-style: normal;
  width: 120px;
  padding: 5px 0;
  text-align: center;
  margin-left: 25px;
}

.profile-title {
  color: rgb(0, 0, 0);
  font-family: "Forum";
  font-size: 40px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2%;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  padding: 40px 20px;
}

.profile-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 81px;
  width: 237px;
}

.profile-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.card-icon-text {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2%;
  font-style: normal;
  text-align: center;
  text-transform: capitalize;
}

.rented-text {
  font-family: "Inter";
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  font-style: normal;
  text-align: left;
  padding: 20px 0px 30px 20px;
}

.profile-books {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  font-style: normal;
  list-style-type: disc;
  padding: 0px 0px 0px 50px;
  gap: 10px;
}

.card-number {
  display: flex;
  padding: 40px 0px 0px 20px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  font-style: normal;
}

.card-number-text {
  color: rgb(187, 148, 95);
  padding-left: 15px;
}

.welcome-title {
  color: rgb(0, 0, 0);
  font-family: "Forum";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2%;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 20px;
}

.welcome-button {
  box-sizing: border-box;
  border: 1px solid rgb(12, 12, 14);
  border-radius: 2px;
  background-color: white;
  width: 75px;
  height: 30px;
  margin-left: 95px;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */