.coffee-shop{
    padding: 60px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
}

.coffee-shop-text{
    color: #000;
    @include font ('Inter', 20px, 400, 40px, 2px);
    text-align: center;
    margin-top: 40px;
}

.coffee-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    margin-top: 40px;
    @include media-tablet {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    @include media-laptop {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}


.menu-coffee-tea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    align-content: stretch;
    color: $color-praimary;
    @include font ('Forum', 40px, 400, 40px, 2px);
    text-transform: capitalize;
    padding-right: 201px;
}

.menu-desserts{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
    color: $color-praimary;
    @include font ('Forum', 40px, 400, 40px, 2px);
    text-transform: capitalize;
}

.menu-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    gap: 60px;
    color: #000;
    @include font ('Inter', 20px, 400, 40px, 2px);
    text-transform: capitalize;
}

.menu-position-named{
    margin-right: auto;
    align-self: stretch;
}

.menu-position-value{
    color: #000;
    @include font ('Forum', 20px, 400, 40px, 2px);
    text-transform: capitalize;
    align-self: flex-end;
}

.menu-dash{
    width: 100px;
    height: 1px;
    background: $color-additional;
    flex: 0 1 auto;
    align-self: center;
}