.favorites{
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.favorites-text{
    @include font ('Inter', 20px, 700, 20px, 1px);
    color: #000;
    line-height: normal;
    padding-left: 20px;
    padding-top: 40px;
}

.favorites-items{
    padding-left: 100px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px;
    margin-top: 42px;
    @include media-tablet {
        grid-template-columns: repeat(1, 1fr);
    }
    @include media-laptop {
        grid-template-columns: repeat(1, 1fr);
    }
}

.book-navigation{
    color: #000;
    @include font ('Inter', 20px, 400, 20px, 1px);
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 20px;
    margin-bottom: 40px;
    *{
        margin-right: 20px;
    }
}

.book{
    box-sizing: border-box; 
    max-width: 55rem;
    max-height: 55rem;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border: 1px solid #000;
    display: flex;
    position: relative;
    flex-direction: column;
}

.book-caption{
    color: #000;
    @include font ('Forum', 20px, 400, 40px, 2px);
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 120px;
    height: 40px;
}

.book-line{
    width: 60px;
    height: 1px;
    background: $color-additional;
    margin-left: 20px;
}

.book-general-information{
    margin: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.book-title{
    color: #000;
    @include font ('Inter-bold', 15px, 700, 40px, 2px);
    text-transform: uppercase;
    margin: 0%, 0%;
}

.book-author{
    color: #000;
    @include font ('Inter-bold', 15px, 700, 40px, 2px);
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0%;
}

.book-contents{
    color: #000;
    @include font ('Inter', 15px, 400, 40px, 2px);
    width: 355px;
    margin-left: 20px;
}

.book-button{
    @extend %transition;
    color: #0C0C0E;
    text-align: center;
    @include font ('Inter', 10px, 700, 30px, 1px);
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: white;
    margin-left: 20px; 
    margin-top: auto;
}

.book-cover{
    display: inline-block;
    position: absolute;
    left: 390px;
    bottom: calc(0% - 1px);
    background: lightgray 50% / cover no-repeat;
}