.favorites{
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.favorites-text{
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    padding-top: 40px;
}

.favorites-items{
    padding-left: 100px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    margin-top: 42px;
}

@media (max-width: 768px) {
    .favorites-items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

.book-navigation{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-left: 20px;
}

.book{
    width: 34.375em;
    height: 33.75em;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.book-caption{
    color: #000;
    font-family: 'Forum';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 120px;
    height: 40px;
}

.book-line{
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-left: 20px;
}

.book-general-information{
    margin: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.book-title{
    color: #000;
    font-family: 'Inter-bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0%, 0%;
}

.book-author{
    color: #000;
    font-family: 'Inter-bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0%;
}

* {
    margin: 0;
    padding: 0;
}


.book-contents{
    color: #000;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    width: 355px;
    margin-left: 20px;
}

.book-button{
    color: #0C0C0E;
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: white;
    margin-left: 20px; 
    margin-top: auto;
}

.book-cover{
    position: absolute;
    margin-left: 390px;
    margin-top: 256px;
    background: lightgray 50% / cover no-repeat;
}