.about{
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.about-content{
    color: #000;
    text-align: center;
    @include font ('Inter', 20px, 400, 40px, 0px);
    margin-top: 40px;
    margin-bottom: 20px;
    @include media-tablet {
        padding: 0px 20px 0px 20px;
    }
    @include media-laptop {
        padding: 0px 20px 0px 20px;
    }
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
}


.gallery-line{
    @extend %transition;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    position: relative;
}

.slider-novigation{
    padding: 40px 686px;
    display: flex;
    justify-content: space-between;
    @include media-tablet {
        padding: 40px 0px;
        width: 100px;
    }
    @include media-laptop {
        padding: 40px 0px;
        width: 100px;
    }
}