$color-praimary: rgb(12, 12, 14);
$color-additional: rgb(187, 148, 95);

$content-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@700&display=swap');
@font-face {
    font-family: 'Inter-bold';
    src: url(../fonts/Inter-Bold.otf);
}