.digital-library-cards{
    padding: 20px;
    flex-direction: column;
    align-items: center; 
    background: #FFF;
    display: flex;
    @include media-tablet {
        padding: 0px 85px 40px;
    }
    @include media-laptop {
        padding: 0px 85px 40px;
    }
}

.digital-library-cards-loged-in{
    padding: 20px;
    flex-direction: column;
    align-items: center; 
    background: #FFF;
    display: none;
    @include media-tablet {
        padding: 0px 85px 40px;
    }
    @include media-laptop {
        padding: 0px 85px 40px;
    }
}

.library-card{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 344px;
    @include media-tablet { 
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }   
    @include media-laptop {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}


.find-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.find-card-text{
    @include font ('Inter', 30px, 400, 36px, 2%);
    font-family: 'Inter';
    text-align: left;
    align-self: center;
}

.white-bg{
    box-sizing: border-box;
    border: 3px solid rgb(187, 148, 95);
    background: rgb(255, 255, 255);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 60px;
}

.gold-bg{
    background: rgb(187, 148, 95);
    margin: 20px 20px 0px 20px;
    padding: 20px 20px 25px 20px;
    gap: 25px;
    width: 515px;
    height: 232px;
    display: flex;
    flex-direction: column;
}

.brooklyn-public-library-text{
    @include font ('Forum', 30px, 400, 50px, 2%);
    text-align: left;
}

.input-library-card{
    @include font ('Forum', 30px, 400, 50px, 2%);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: rgb(142, 142, 142);
    text-align: left;
    padding-left: 20px; 
    outline:none;
    border: none;
}

.input-library-card-loged-in{
    @include font ('Forum', 30px, 400, 50px, 2%);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: $color-praimary;
    text-align: left;
    padding-left: 20px; 
    outline:none;
    border: none;
}

.card-button{
    @extend %transition;
    @include font ('Inter', 20px, 700, 24px, 1px, normal);
    box-sizing: border-box;
    border: 1px solid rgb(12, 12, 14);
    border-radius: 2px;
    width: 262px;
    height: 44px;
    background-color: #FFF;
    padding: 10px 40px 10px 40px;
    text-align: center;
}

.card-loged-in{
    @extend %transition;
    @include font ('Inter', 10px, 400, 20px, 2%, normal);
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
    border-radius: 2px;
    width: 262px;
    height: 44px;
    padding: 0px 40px 10px 40px;
    display: flex;
    justify-content: space-between;
}



.get-a-card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
    &-text{
        @include font ('Forum', 30px, 400, 33px, 2%);
        text-align: center;
    }
    @include media-laptop {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    @include media-tablet {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}


.card-text{
    @include font ('Inter', 20px, 400, 40px, 2%);
    text-align: right;
    width: 456px;
    @include media-laptop {
        text-align: center;
        @include font ('Inter', 20px, 400, 40px, 2%);
    }
    @include media-tablet {
        text-align: center;
        @include font ('Inter', 20px, 400, 40px, 2%);
    }
}



.get-a-card-buttons{
    display: flex;
    gap: 20px;
    * { @extend %transition;
        @include font ('Inter', 10px, 700, 12px, 1px, normal);
        border: 1px solid rgb(12, 12, 14);
        border-radius: 2px;
        background-color: #FFF;
        width: 75px;
        height: 30px;
    }
}