.about{
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.about-content{
    color: #000;
    text-align: center;
    @include font ('Inter', 20px, 400, 40px, 0px);
    margin-top: 40px;
    margin-bottom: 20px;
    @include media-tablet {
        padding: 0px 20px 0px 20px;
    }
    @include media-laptop {
        padding: 0px 20px 0px 20px;
    }
}

