.wrapper-slider {
  display: flex;
  padding: 0px 20px 0px 25px;
  justify-content: space-between;
  @include media-tablet {
    padding: 0px 77px 0px 77px;
  }
  @include media-laptop {
    padding: 0px 77px 0px 77px;
  }
}

.slider-novigation-left {
  @include media-tablet {
    margin: 0px 0px 0px 7px;
    width: 82px;
    height: 614px;
    background: url('/src/images/left.svg') no-repeat 100%;
    background-position: 0px 289px;
  }
  @include media-laptop {
    margin: 0px 0px 0px 7px;
    width: 82px;
    height: 614px;
    background: url('/src/images/left.svg') no-repeat 100%;
    background-position: 0px 289px;
  }
}

.slider-novigation-right {
  @include media-tablet {
    margin: 0px 7px 0px 0px;
    width: 82px;
    height: 614px;
    background: url('/src/images/right.svg') no-repeat 100%;
    background-position: 67px 289px;
  }
  @include media-laptop {
    margin: 0px 7px 0px 0px;
    width: 82px;
    height: 614px;
    background: url('/src/images/right.svg') no-repeat 100%;
    background-position: 67px 289px;
  }
}

.item, .carousel, .card {
  display: flex;
  justify-content: space-between;
}

.carousel-wrapper {
  width: 1400px;
  overflow: hidden;
  @include media-tablet {
    width: 450px;
  }
  @include media-laptop { 
    width: 450px;
  }
}

.card {
  width: 450px;
  height: 560px;
}

.item {
 gap: 20px;
}

.carousel {
  position: relative;
  left: -940px;
  gap: 20px;
  @include media-tablet {
    left: -1410px
  }
  @include media-laptop {
    left: -1410px
  }
}

@keyframes move-right {
  from {left: -940px;}
  to {left: -1410px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-right2 {
    from {left: -940px;}
    to {left: -1880px;}
  }
  
.transition-right2 {
  animation-name: move-right2;
  animation-duration: 2s;
}

@keyframes move-left {
  from {left: -940x;}
  to {left: -470px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

@keyframes move-left2 {
    from {left: -960x;}
    to {left: 0px;}
  }
  
.transition-left2 {
  animation-name: move-left2;
  animation-duration: 2s;
}

@keyframes move-right-tablet {
  from {left: -1410px;}
  to {left: -1880px;}
}

.transition-right-tablet {
  animation-name: move-right-tablet;
  animation-duration: 1s;
}

@keyframes move-left-tablet {
    from {left: -1410px;}
    to {left: -940px;}
  }

.transition-left-tablet {
  animation-name: move-left-tablet;
  animation-duration: 1s;
}

.img-1 {
  background: url("/src/images/gallery-1.png") no-repeat;
}

.img-2 {
  background: url("/src/images/gallery-2.png") no-repeat;
}   

.img-3 {
  background: url("/src/images/gallery-3.png") no-repeat;
}

.img-4 {
  background: url("/src/images/gallery-4.png") no-repeat;
}

.img-5 {
  background: url("/src/images/gallery-5.png") no-repeat;
}

.btn-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68px;
    margin: 40px 0px 40px 660px;
    input {
        display: none;
    }
    input[type="radio"]:checked + label{
        background-color: $color-additional;
    }
    label {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        cursor: pointer;
        background-color: $color-praimary;
    }
    @include media-tablet {
      display: none;
    }
    @include media-laptop {
      display: none;
    }
}
