    .welcome{
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%) 0 0 no-repeat, url(/src/images/welcome.jfif) 50% no-repeat;
        background-size: $content-width;
    }
    
    .welcome-text{
        display: inline-block;
        color: #FFF;
        @include font ('Forum', 40px, 400, 50px, 3px);
        text-align: center;
        text-transform: uppercase;
        background-color: #0C0C0E;
        padding: 35px 40px 35px 120px;
        max-width: 500px;
        position: relative;
        top: 220px;
    }
